#appLayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 240px;
}

#appLayout{
    font-size: x-large;
}

hr{
    width: 850px;
}

#displayApps{
    display: flex;
    justify-content: center;
}

#noMoreApps{
    padding-top: 50px;
}