.IU-logo {
    width: 120px;
    height: auto;
    position: relative;
    left: 100px;
    top: 15px;
  }
  
  .upper-header {
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid gainsboro;
  }
  
  .nav-wrapper {
    display: inline;
    position: absolute;
    right: 10%;
    top: 5%;
  }
  
  a {
    padding: 15px;
    text-decoration: none;
    color: black;
  }
  
  nav {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .red-bottom {
    border-bottom: 4px solid #900;
  }
  
  .student-affairs-header {
    margin-left: 100px;
    font-size: xx-large;
    margin-top: 10px;
  }
  
  .jaguar-image {
    width: 100%;
    overflow: hidden;
    z-index: 0;
  }
  
  article {
    position: relative;
    left: 25%;
    width: 75%;
    line-height: 1.5;
  }
  
  .breadcrumbs {
    font-size: small;
  }
  
  .breadcrumbs a {
    color:lightslategray;
  }
  
  .paws-title {
    font-size: medium;
    margin-left: 15px;
  }
  
  .word-content {
    position: relative;
    z-index: 1;
    top: -70px;
    background-color: white;
    font-size: 1.125rem;
    width: 66%;
    padding: 0.75rem;
  }
  
  article h1 {
    font-size: xx-large;
    margin-left: 15px;
  }
  
  article h4 {
    font-weight: 400;
    margin-left: 15px;
  }
  
  article h3 {
    font-size: x-large;
    margin-left: 15px;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  .location-and-hours {
    width: 25%;
    position: absolute;
    right: 3%;
    top: 50px;
    border-top: 5px solid gainsboro;
  }
  
  .location-and-hours h2 {
    color: #990000;
    font-weight: 600;
  }
  
  .location-and-hours h3{
    font-size: large;
    margin-left: 0px;;
  }
  
  .left-side-nav {
    display: flex;
    flex-direction: column;
    width: 15%;
    position: absolute;
    left: 5%;
    top: 115%;
  }
  
  .gray {
    background-color:whitesmoke;
  }
  
  .red {
    border-left: 4px solid #990000;
  }
  
  /* ----- BUTTON STYLING ----- */
  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1rem;
    position: relative;
    top: -50px;
  }
  
  label {
    font-size: x-large;
    font-weight: 600;
  }
  
  button {
    background-color: #990000;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 0.25rem;
    border: 2px solid #990000;
    padding: 0.25em;
    width: 160px;
    transition: background-color .2s, color .2s;
  }
  
  button:hover {
    background-color: white;
    color:#990000;
  }
  
  .questions-wrapper {
    width: 750px;
    position: relative;
    left: 25%;
    top: -20px;
  }
  
  .questions-wrapper h3 {
    font-size: xx-large;
  }
  
  .questions-wrapper button {
    font-size: medium;
    width: 180px;
  }
  
  .questions-wrapper h4 {
    font-weight: 400;
    font-size: 1.25rem;
  }
  
  .bottom-content {
    background-color: #990000;
    color: white;
    font-size: x-large;
    text-align: center;
    height: 250px;
    padding-top: 30px;
  }
  
  .bottom-content button {
    background-color: #800000;
    border-radius: 0.25rem;
    transition: background-color .2s, color .2s;
  }
  
  .bottom-content button:hover {
    background-color: white;
    color: #800000;
  }
  
  .social-links {
    background-color: #800000;
    height: 100px;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
  }