.jaguar-image {
    width: 100%;
    overflow: hidden;
    z-index: 0;
}
  
  article {
    position: relative;
    left: 25%;
    width: 75%;
    line-height: 1.5;
  }
  
  .breadcrumbs {
    font-size: small;
  }
  
  .breadcrumbs a {
    color:lightslategray;
  }
  
  .paws-title {
    font-size: medium;
    margin-left: 15px;
  }
  
  .word-content {
    position: relative;
    z-index: 1;
    top: -70px;
    background-color: white;
    font-size: 1.125rem;
    width: 66%;
    padding: 0.75rem;
  }
  
  article h1 {
    font-size: xx-large;
    margin-left: 15px;
  }
  
  article h4 {
    font-weight: 400;
    margin-left: 15px;
  }
  
  article h3 {
    font-size: x-large;
    margin-left: 15px;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  /* ----- BUTTON STYLING ----- */
  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1rem;
    position: relative;
    top: -50px;
  }
  
  label {
    font-size: x-large;
    font-weight: 600;
  }
  
  button {
    background-color: #990000;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 0.25rem;
    border: 2px solid #990000;
    padding: 0.25em;
    width: 160px;
    transition: background-color .2s, color .2s;
  }
  
  button:hover {
    background-color: white;
    color:#990000;
  }
  
  .questions-wrapper {
    width: 750px;
    position: relative;
    left: 25%;
    top: -20px;
  }
  
  .questions-wrapper h3 {
    font-size: xx-large;
  }
  
  .questions-wrapper button {
    font-size: medium;
    width: 180px;
  }
  
  .questions-wrapper h4 {
    font-weight: 400;
    font-size: 1.25rem;
  }
  
  .bottom-content {
    background-color: #990000;
    color: white;
    font-size: x-large;
    text-align: center;
    height: 250px;
    padding-top: 30px;
  }
  
  .bottom-content button {
    background-color: #800000;
    border-radius: 0.25rem;
    transition: background-color .2s, color .2s;
  }
  
  .bottom-content button:hover {
    background-color: white;
    color: #800000;
  }