.forms-home {
    overflow-y: hidden;
}

#paws-form {
    text-align: left;
    z-index: 2;
    width: 70%;
    position: relative;
    left: 25%;
    top: 50px;
    margin-left: 10px;
    background-color: lightsalmon;
}

.forms-article {
    background-color: lavender;
    position: relative;
}

#paws-form h1 {
    text-align: left;
    margin-left: 0;
    border-bottom: 1px dotted #ccc;
}

label {
    font-size: medium;
}

input {
    margin-right: 5px;
}

input[type=text] {
    border: 1px solid #666666;
    border-radius: 0.25rem;
}

.long {
    width: 98%;
}

.medium {
    width: 48%;
}

.little-label {
    font-size: smaller;
}

.label-positioning {
    margin-left: 47%;
}

.different-label-positioning {
    margin-left: 39.5%;
}

.dots {
    border-bottom: 1px dotted #ccc;
}