#appLayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 240px;
    font-size: x-large;
}

hr{
    width: 850px;
}

#displayApps{
    display: flex;
    justify-content: center;
}

#noMoreApps{
    padding-top: 50px;
}

#search-bar{
    margin-top: 10px;
    margin-left: 10px;
}

.appList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 850px;
    margin: 0 auto;
}

.arrowBtn{
    background-color: white;
    border-color: white;
    border-style: solid;
    font-size: large;
}

.appList button:hover{
    font-size: x-large;
}

.app{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    justify-content: space-around;
}

.app p{
    width: 100px;
}

.appListItems{
    display: flex;
    flex-direction: row;
    font-size: larger;
    gap: 220px;
}

.appExpanded{
    height: 200px;
    display: flex;
    flex-direction: row;
}