.location-and-hours {
    width: 25%;
    position: absolute;
    right: 3%;
    top: 50px;
    border-top: 5px solid gainsboro;
  }
  
  .location-and-hours h2 {
    color: #990000;
    font-weight: 600;
  }
  
  .location-and-hours h3{
    font-size: large;
    margin-left: 0px;;
  }