nav {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
 
.student-affairs-header {
    margin-left: 100px;
    font-size: xx-large;
    margin-top: 10px;
}