nav {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
  padding: 15px;
  text-decoration: none;
  color: black;
}
 
.student-affairs-header {
    margin-left: 100px;
    font-size: xx-large;
    margin-top: 10px;
}
.red-bottom {
  border-bottom: 4px solid #900;
}